<div class="container mt-5">
    <h5>Tasks details of particular user</h5>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Task Name</th>
                <th scope="col">Creation TimeStamp</th>
                <th scope="col">Completion Status</th>
                <th scope="col">Created By</th>
                <th scope="col">Expiry</th>
                <th scope="col">Edit Timestamp</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let details of particularUserDetils'>
                <th scope="row">{{details.taskName}}</th>
                <td>{{details.creationTimestamp | date:'dd-MM-yyyy'}}</td>
                <td>{{details.completionStatus}}</td>
                <td>{{details.createdBy}}</td>
                <td>{{details.expiry | date:'dd-MM-yyyy'}}</td>
                <td>{{details.editTimestamp | date:'dd-MM-yyyy'}}</td>
            </tr>
        </tbody>
    </table>
</div>